:root{
    /* #e7d39f; */
    --statBlockBorder: #c2a052;
    --darkestGradientValue: #e9cb7f;
    --mainBlockBackgroundColor: #f9f3d8;
    --redAccentColor: #832000;
}
/* Show me figuring this out */
@font-face {
    font-family: "Draconis";
    src: url("fonts/draconis/Draconis.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

header{
    font-weight: bold;
    text-align: center;
}

#contentWrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

fieldset{
    width: 400px;
    height: 400px;
    background-color: var(--mainBlockBackgroundColor);
    padding: 20px;
    position: relative;
    margin: 0 10px;
}

.statBlockGradient{
    width: 440px;
    height: 40px;
    margin: -20px -20px 0 -20px;
    background: linear-gradient(var(--darkestGradientValue), var(--mainBlockBackgroundColor));
}

.statBlockBorder{
    width: 450px;
    height: 10px;
    position: absolute; 
    left: -5px;
    background-color: var(--statBlockBorder);
    border: 1px solid black;
}

.top{
    top: -5px;
}

.bottom{
    bottom: -5px;
}

fieldset header {
    text-align: left;
    font-size: 175%;
    margin-top: -20px;
    font-family: "Draconis", sans-serif;
    color: var(--redAccentColor);
}

form{
    display: flex;
    flex-direction: row;
}

.radioChoice{
    display: block;
}

.fancyDivider{
    width: 0;
    height: 0;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    border-left: 25rem solid var(--redAccentColor);
    margin: 5% 0;
}

/* Table formatting */

table{
    border: 2px solid black;
    background-color: var(--statBlockBorder);
    
}

table caption{
    text-align: left;
    margin: 2px;
}

th, td{
    border: 1px solid black;
    background-color: var(--mainBlockBackgroundColor);
}